article.about#about.scroll-margin.panel
  .wrapper
    .about__inner
      .about__text-content
        h2.title=home.data.about_title
        figure.about__media__mobile
          img.about__media__mobile-image(alt="Liz" src=home.data.about_image_mobile.url)
        .text!=PrismicDOM.RichText.asHtml(home.data.about_text)
      figure.about__media
        img.about__media__image(alt=home.data.about_image.alt src=home.data.about_image.url)

      .about__orange__ribbon
      .about__gradient__ribbon
