article.contact#contact.panel
  .wrapper.contact__grid       
    h2.contact__content__title=home.data.contact_title

    .contact__content
      .contact__content__title-mobile=home.data.contact_title_mobile
      .text!=PrismicDOM.RichText.asHtml(home.data.contact_tagline)
        a(href="tel:+61422531363") +61 422 531 363
        a(href="mailto:liz@elizabeth-tomlinson.com") liz@elizabeth-tomlinson.com
    figure.contact__media 
      img.contact__media__image(alt=home.data.contact_image.alt src=home.data.contact_image.url width=1666 height=1244) 