- var title = {title: home.data.contact_title}
- var mobileTitle = {mobileTitle: home.data.contact_title_mobile}

article.contact#contact.panel
  .wrapper.contact__grid       
    h2.contact__title=title.title
    .contact__content
      .text!=PrismicDOM.RichText.asHtml(home.data.contact_tagline)
      p.contact__phone=home.data.phone 
      p.contact__email=home.data.email
    figure.contact__media 
      img.contact__media__image(src=home.data.contact_image.url) 