extends ../base.pug

block variables 
  - var template = 'home'

block content 
  .home
    .home__wrapper
      section.home__hero
        .home__hero__wrapper
          //- h3.home__hero__name Elizabeth Tomlinson
          h1.home__hero__title=home.data.title
          figure.home__hero__image
            img(alt=home.data.image.alt src=home.data.image.url)

      each section in home.data.body

        //- INTRO
        if section.slice_type == 'header'
          section.intro
            .intro__wrapper
              .intro__text__wrapper
                h1.intro__title=section.primary.content_title 
                p.intro__text!=PrismicDOM.RichText.asHtml(section.primary.content_text)
              figure.intro__media
                img.intro__media__image(alt=section.primary.content_image.alt src=section.primary.content_image.url)

        //- FAQ
        if section.slice_type == 'faq'
          section.faq 
            .faq__wrapper
              h1.faq__title=section.primary.faq_title
              each question in section.items
                h3.faq__question=question.faq_question
                p.faq__answer=question.faq_answer
              


    
   

    