extends ../base.pug

block variables 
  - var template = 'home'

block content 
  .home
    .home__wrapper
      section.home__hero
        .home__hero__wrapper
          .home__hero__text
            h1.home__hero__title=home.data.hero_tagline
            a.home__hero__button__link=home.data.cta_button
          

      each section in home.data.body
        //- MAIN CONTENT
        if section.slice_type == 'header'
          each item in section.items  
            section.intro(class=`${item.type === 'Left' ? 'intro--left' : 'intro--right'}` id=`${item.type === 'Left' ? 'intro' : 'about'}`)
              .intro__wrapper
                .intro__text__wrapper
                    h2.intro__title=item.title
                    .intro__text!=PrismicDOM.RichText.asHtml(item.content)
                figure.intro__media
                  img.intro__media__image(alt=item.image1.alt src=item.image1.url)
                .gradient__square 
                .gradient__ribbon

        //- FAQ
        if section.slice_type == 'faq'
            section.faq#faq  
              .faq__wrapper
                .faq__gradient__ribbon
                .faq__gradient__ribbon
                .faq__gradient__ribbon

                h2.faq__title=section.primary.title
                each question in section.items
                  h3.faq__question=question.faq_question
                  p.faq__answer=question.faq_answer

      section.contact#contact
        .contact__wrapper       
          h2.contact__title=home.data.contact_title
          .contact__content
            p.contact__tagline=home.data.contact_tagline
            p.contact__phone=home.data.phone 
            p.contact__email=home.data.email
          figure.contact__media 
            img.contact__media__image(src=home.data.contact_image.url) 
        
          



    
   

    