extends ../base.pug

block variables 
  - var template = 'home'

block content 
  .home
    .home__wrapper
      section.home__hero
        .home__hero__wrapper
          .home__hero__text
            h1.home__hero__title=home.data.hero_tagline
            a.home__hero__button__link(href="#contact")=home.data.cta_button
              svg.home__hero__button__link__icon--arrow(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#fff")
                path(fill-rule="evenodd" d="M10.146 4.646a.5.5 0 01.708 0l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708-.708L12.793 8l-2.647-2.646a.5.5 0 010-.708z" clip-rule="evenodd")
                path(fill-rule="evenodd" d="M2 8a.5.5 0 01.5-.5H13a.5.5 0 010 1H2.5A.5.5 0 012 8z" clip-rule="evenodd")

      each section in home.data.body
        //- MAIN CONTENT
        if section.slice_type == 'header'
          each item in section.items  
            section.intro(class=`${item.type === 'Left' ? 'intro--left' : 'intro--right'}` id=`${item.type === 'Left' ? 'intro' : 'about'}`)
              .intro__wrapper
                .intro__text__wrapper
                    h2.intro__title=item.title
                    .intro__text!=PrismicDOM.RichText.asHtml(item.content)
                figure.intro__media
                  img.intro__media__image(alt=item.image1.alt src=item.image1.url)
                .gradient__square 
                .gradient__ribbon

        //- FAQ
        if section.slice_type == 'faq'
            section.faq#faq  
              .faq__wrapper
                .faq__gradient__ribbon
                .faq__gradient__ribbon
                .faq__gradient__ribbon
                h2.faq__title=section.primary.title
                each question in section.items
                  details
                    summary.faq__question=question.faq_question
                      svg.faq__question__icon--down-chevron(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#262626")
                        path(d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z")
                    .faq__answer__content
                      p.faq__answer=question.faq_answer


                    

      section.contact#contact
        .contact__wrapper       
          h2.contact__title=home.data.contact_title
          .contact__content
            p.contact__tagline=home.data.contact_tagline
            p.contact__phone=home.data.phone 
            p.contact__email=home.data.email
          figure.contact__media 
            img.contact__media__image(src=home.data.contact_image.url) 
        
          



    
   

    